<!-- base.html -->

<!-- <h1>Hello World!</h1>
<div>Hello World!</div>
<p>Hello World!</p>
<ul>
    <li>Hello World!</li>
    <li>Hello Provo!</li>
</ul>
<ol>
    <li>Hello World!</li>
</ol> -->

<!-- css.html -->
<!-- h1 {
    /* rules go here */
    font-size: 100px;
    font-family: sans-serif;
    margin: 0;
    color: #FFFFFF;
} 
.btn {
    background-color: #F38630;
    padding: 10px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 10px;
    width: 200px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}
#MainHeader {
    font-size: 400px;
}

<div class="btn">div button</div>
<p class="btn">p button</p>
<a class="btn" href="js.html">Go to JS</a>
-->

<!-- js.html -->
// alert('Hello World!');

// get reference to h1 element
// var h1Element = document.querySelector('h1');
var h1Element = document.getElementById('MainHeader');
// h1Element.style.color = "#E1E1E1";
// setTimeout(function() {
//     h1Element.style.color = "#E1E1E1";
// }, 2000);
// h1Element.style.transform = 'translateX(200px)';

// get reference to first button
var changeH1 = document.querySelector('.change-h1');
// if someone clicks on that button...
changeH1.addEventListener('click', function() {
    h1Element.style.color = '#E1E1E1';
    h1Element.style.transform = 'translateX(200px)';
    // h1Element.classList.add('move-right');
});
// get reference to second button
var resetH1 = document.querySelector('.reset-h1');
// if someone clicks on that button...
resetH1.addEventListener('click', function() {
    h1Element.style.color = '#000000';
    h1Element.style.transform = 'translateX(0)';
    // h1Element.classList.add('move-left');
});